<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319149493944-6rt443pa8ge70tijv45l0fcnu08g57o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319149493944-6rt443pa8ge70tijv45l0fcnu08g57o4</string>
	<key>API_KEY</key>
	<string>AIzaSyAZlD5VbHfpLZ_6Xvuah7DobimhhgaWgG0</string>
	<key>GCM_SENDER_ID</key>
	<string>319149493944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashboardapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mobilon-2c8d0</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilon-2c8d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319149493944:ios:3dbe492b3d6b2d1d812e4d</string>
</dict>
</plist>